#chart-area svg {
  margin-left: auto;
  margin-right: auto;
  display: block;
}

#logo {
  height: 50px;
}

.navbar-brand {
  height: 60px;
  padding: 5px 0px;
}

* {
  text-align: center;
}

h4 {
  text-align: left;
}

.d3-tip li {
  text-align: left;
}
/* .row div::after {
  content: '';
  display: block;
  width: 660px;
  height: 350px;
  background: linear-gradient(to right, white 25%, pink 25%, red 25%, maroon 25%);
  margin-left: 285px;
  margin-right: 10px;
  position: absolute;
  top: 200px;
  z-index: -999;
} */
.color-group-wrapper {
  width: 896px;
  height: 553px;
  /* background: linear-gradient(to right, yellow, blue); */
  margin-left: 145px;
  position: absolute;
  top: 377px;
  z-index: -9999;
}
.color-group {
  width: 300px;
  height: 185px;
  position: absolute;
  z-index: -555;
}
#group1 {
  top: 0;
  left: 0;
  background: #E5ECFF;
}
#group2 {
  top: 0;
  left: 300px;
  background: #CCD8FF;
}
#group3 {
  top: 0;
  left: 600px;
  background: #B3C5FF;
}
#group4 {
  top: 185px;
  left: 0px;
  background: #CCD8FF;
}
#group5 {
  top: 185px;
  left: 300px;;
  background: #B3C5FF;
}
#group6 {
  top: 185px;
  left: 600px;
  background: #809EFF;
}
#group7 {
  top: 370px;
  left: 0px;
  background: #B3C5FF;
}
#group8 {
  top: 370px;
  left: 300px;
  background: #809EFF;
}
#group9 {
  top: 370px;
  left: 600px;
  background: #4D77FF;
}

svg .x-axis path::before {
  content: '';
  width: 50px;
  height: 50px;
  display: block;
  border: solid red 3px;
  position: absolute;
  top: 250px;
}
@media only screen and (max-width: 1320px) { 
  .color-group-wrapper {
    top: 347px;
  }
}

@media only screen and (max-width: 1200px) {
  #chart-area, .color-group-wrapper, .categoryBlocks_wrapper {
    display: none;
  }
}

/* ===== Rainbow Category Blocks Header ====== */
.categoryBlocks_wrapper {
  width: 1050px;
  height: 100px;
  margin: auto;
  border: none;
}
.categoryBlock {
  width: 150px;
  height: 150px;
  float: left;
  padding: 25px 20px;
  text-align: center;
  color: white;
}
.categoryBlock p {
  font-size: 18px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

#blue { background-color: #55b5f4; }
#green { background-color: #54a98f; }
#purple { background-color: #8e7bc1; }
#pink { background-color: #ec8cba; }
#red { background-color: #df6769; }
#orange { background-color: #d98b3f; }
#yellow { background-color: #efc13d; }

/* Responsiveness of Raninbow Category Blocks Header */
@media only screen and (max-width: 1320px) {
  .categoryBlocks_wrapper {
    width: 840px;
  }
  .categoryBlock {
    width: 120px;
    height: 120px;
    padding: 25px 10px;
  }
  .categoryBlock p {
    font-size: 14px;
  }
  .yourResultsInner {
    width: 360px;
  }
}
@media only screen and (max-width: 1200px) {
  .categoryBlock {
    padding: 20px 10px;
  }
}
@media only screen and (max-width: 1024) {
  .categoryBlocks_wrapper {
   display: none;
  }
}
