#chart-area svg {
	margin-left: auto;
    margin-right: auto;
    display: block;
}

#logo {
	height:50px;
}

.navbar-brand {
	height: 60px;
	padding: 5px 0px;
}

* {
	text-align: center;
}

.postIt:hover {
	fill: salmon;

}
.row div {
	border-radius: 5px;
	height: 210px;
	width: 655px;
	border: solid 30px #b9a48e;
	background: #a08464;
	margin: auto;
}
#citizenship {
	width: 1140px;
}
#competencies, #economic, #school, #technological {
	width: 540px;
}
#equity {
	width: 900px;
}

