#chart-area svg {
	/* margin-left: auto;
    margin-right: auto; */
    display: block;
}

#logo {
	height:50px;
}

.navbar-brand {
	height: 60px;
	padding: 5px 0px;
}

* {
	text-align: center;
}

.postIt:hover {
	fill: salmon;

}
.bookshelf {
	width: 786px;
	height: 1200px;
	background: #a08464;
	border: solid 30px #b9a48e;
	margin: auto;
}
.bookshelf div {
	border-bottom: solid #b9a48e 10px;
}
